body {
	background-color: #0f0f0f;
}

#logo {
	display: block;
	width: 60%;
	height: auto;
	margin: 30vh auto 0px auto;
}

#license {
	border-width: 0;
}

#txt {
	color: #fff;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 3em;
	margin-top: 10vh;
	text-align: center;
}

footer {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 1vh;
}

a:link {
	color: #a0a0a0;
}

a:visited {
	color: #a0a0a0;
}

a:hover {
	color: #f0f0f0;
}

a:active {
	color: #808080;
}